.carousel-item{
    height: 800px;
} 
.carousel-item img{
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 50% !important;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white !important;
    text-align: center;
}
.outerconnect li a{
    color: whitesmoke;
    text-decoration:none;
    font-size: default;
}

#about{
    padding-left:20%;
}